html,
body {
    height: 100%;
    width: auto;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    color: #373738;
}

img {
    max-width: 100%;
}

.img-style {
    box-shadow: 0 4px 2px -2px #262f20;
}

#stage {
    background: rgba(21, 21, 65, 0.295);
    background-size: cover;
    height: auto;
    width: 100%;
}

#stage-caption {
    font-size: 1.4rem;
    font-weight: 200;
    max-width: 60rem;
    margin-top: 7rem;
    text-align: left;
}

#stage-img {
    margin-top: 1.6rem;
    margin-bottom: 0;
}

#about {
    padding: 6rem 0;
}

#projects {
    padding: 6rem 0;
}

#projects img {
    height: 450px;
    width: inherit;
}

#interests {
    padding: 6rem 0;
    background: rgba(0,0,0,0.2);
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 2px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.fa:hover {
    text-decoration: none;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #0077B5;
    color: white;
}

.fa-instagram {
    background: url('../assets/insta-background.png') center no-repeat;
    color: white;
}

#news {
    padding: 6rem 0;
    background: rgba(21, 21, 65, 0.295);
}

#main-footer {
    background: #262f36;
    color: white;
    padding: 6rem 0;
}

#main-footer ul li {
    display: flex;
    justify-content: center;
    padding: 0.2rem 0;
}


#news h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: -4rem;
}

.attribution {
    display: flex;
    justify-content: center;
}

.attribution p{
    margin-right: 1rem;
    margin-top: 1.5rem;
    margin-bottom: -4rem;
    letter-spacing: 4px;
    font-weight: bold;
}

.carousel-caption {
    background: rgba(0,0,0,0.7);
    padding: 2rem 0;
}

.carousel-caption h5 a {
    color: white;
}

/* copy to clipboard style starts */

#tooltip {
    position: relative;
    display: inline-block;
}
  
#tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -35px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
#tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
#tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* copy to clipboard style ends */